body{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.8em;
    line-height: 1.75;
    text-align: center;
    color: #666666;
    text-rendering: optimizeLegibility;
}

table{
    margin: 1em auto;
    border: 1px solid #666666;
}

tr, td, th{
    border: 1px solid #666666;
    padding: 1em;
}

h1{
    font-size: 28px;
    color: #ec523f;
}

h2{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #444444;
    display: inline-block;
}

a {
  color: #ec523f;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
a:hover {
    color: #c63b27;
  text-decoration: none;
}
a:active {
    color: #c63b27;
  text-decoration: none;
}
/* From bootstrap */
@media screen and (min-width: 1200px) {
    .header{
        width: 1170px;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

.logo-wrapper {
  height: 100px;
  background: url(../images/logo_w_background.png) no-repeat 10px;
  background-size: contain;
  background-origin: content-box;
}
.logo-wrapper a {
  display: inline-block;
  overflow: hidden;
  line-height: 100px;
  text-transform: uppercase;
  color: #ec523f;
  font-size: 28px;
  font-weight: 700;
}

.header {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    overflow: hidden;
    -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
}