/* ImageSliders.css */
/* Styling for the two image sliders: <EventShowcase> and <Slideshow> */

/* ------ For Slideshow ------ */

.slider-content {
  position: relative;
  display: flex;    /* TODO: vendor prefixes for flex */
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 85vh;
  background-position: center;
}

.slider-content .caption {
  text-align: center;
  color: white;
  z-index: 2;
  padding: 0 4.5rem;
  max-width: 600px;
}

.slider-content .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.58);
}

.slider-content .caption h1 {
  display: inline-block;
  color: white;
  font-size: 36px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  font-weight: 700;
}

/* ------ For EventShowcase ------ */

.eventsc-container {
  margin: 1rem 0;
}

.eventsc-img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center;
}

.eventsc-container .caption {
  width: 100%;
  text-align: center;
  background-color: var(--main-theme-color);
  padding: 14px 1.2rem;
  margin: 0 !important;
  color: white;
  font-size: 1rem;
  white-space: nowrap;
  overflow: scroll;
}

/* Used by react-slideshow-image */
.eventsc-container .indicators {
  padding: 0;
  margin: 0 !important;
}

.eventsc-container .indicator {
  opacity: 0.6;
  cursor: pointer;
  height: 12vw;
  max-height: 3.5rem;
  width: 10%;
  object-fit: cover;
  -o-object-fit: cover;
}

.eventsc-container .indicator.active, .eventsc-container .indicator:hover {
  opacity: 1;
}

.eventsc-container .arrow {
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.eventsc-container .arrow:hover {
  color: #d0d0d0;
}