.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.homepage-paragraph {
  font-size: 1.8em;
  line-height: 1.75;
  text-align: center;
  color: #666666;
  text-rendering: optimizeLegibility;
}