
/* 
    This file is used to override the default Bootstrap CSS.
*/


/* Original stuff before migration */ 


table {
    margin: 1em auto;
    border: 1px solid #666666;
}

tr,
td,
th {
    border: 1px solid #666666;
    padding: 1em;
}

h1 {
    font-size: 28px;
    color: #ec523f;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #444444;
    display: inline-block;
}

a {
    color: #ec523f;
    text-decoration: none;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
} 

a:hover {
    color: #c63b27;
    text-decoration: none;
}

a:active {
    color: #c63b27;
    text-decoration: none;
} 

/* From bootstrap */
/* @media screen and (min-width: 1200px) {
    .header {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

.logo-wrapper {
    height: 100px;
    background: url(../images/logo_w_background.png) no-repeat 10px;
    background-size: contain;
    background-origin: content-box;
}

.logo-wrapper a {
    display: inline-block;
    overflow: hidden;
    line-height: 100px;
    text-transform: uppercase;
    color: #ec523f;
    font-size: 28px;
    font-weight: 700;
}

.header {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    overflow: hidden;
    -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
} */

/* below copied from Carl's previous website */


/***********************************
  Base Styles
***********************************/

:root {
    --main-theme-color: #ec523f;
    --primary-text: #ec523f;
    --secondary-text: #5d6165;
    --teritary-text: #82878f;
    --content-background: #fefeff;
    --secondary-color: #888;
    --tertiary-color: #ccc;
    --navbar-color: #fffefc;
}


/* body {

} */

* {
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    /* color: var(--primary-text); */
}

body {
    font-size: 1.8em;
    line-height: 1.75;
    text-align: center;
    text-rendering: optimizeLegibility;
    color: var(--primary-text);
}

html {
    background: var(--content-background);
}

/* The `!important` tags below are just for overriding
   Bootstrap styles, will be removed in the future. */

body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--content-background);
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}

a {
    text-decoration: none !important;
}

.fas,
.far,
.fal,
.fab {
    color: inherit;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.center {
    text-align: center;
}


.button {
    padding: 0.2em 1.2em;
    /* changed from 0.6em 1.2em */
    border: 1px solid #040302;
    border-radius: 0.25em;
    color: #040302;
    background: white;
    cursor: pointer;
    transition: 150ms ease;
}

.button.button-primary {
    text-align: center;
    color: var(--main-theme-color) !important;
    border-color: var(--main-theme-color);
}

.button.button-primary:hover {
    background: var(--main-theme-color);
    color: white !important;
}

.button.button-secondary {
    color: #5f6267;
    border-color: #5f6267;
}

.button.button-secondary:hover {
    color: white !important;
    /* Temporary Bootstrap Override */
    background: #5f6267;
    /* changed from #040302 */
}

.button.button-tertiary {
    color: #83878e !important;
    /* Temporary Bootstrap Override */
    border-color: #83878e;
    /* changed from var(--secondary color */
}

.button.button-tertiary:hover {
    color: white !important;
    /* Temporary Bootstrap Override */
    background: #83878e;
}

.button.button-disabled {
    color: #bec0c4;
    /* new disabled button class */
    border-color: #bec0c4;
}

.button.button-disabled:hover {
    color: white;
    background: #bec0c4;
}

.button.button-text-only {
    text-align: center;
    /* padding: 0; */
    border: none;
}

.button.button-text-only:hover {
    color: var(--main-theme-color)
} 