.navbar {
  background-color: white;
  justify-content: space-between;
  padding: 0.3rem 0.8rem !important;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.07);
}

@media (min-width: 540px) {
  .navbar {
    padding: 0.5rem 2rem !important;
  }
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2em;
}
.navbar-logo {
  width: auto;
  height: 60px;
  margin-right: 4px;
}

.navbar-right {
  justify-content: right;
}
.navbar-right a {
  margin: 0 0.6rem;
  text-decoration: none;
}

.navbar-right a.active, .navbar-right a:hover {
  text-decoration: none;
  color: #c63b27;
}

.navbar .toggle-menu {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: var(--main-theme-color);
  display: inline-block;
  color: white;
  cursor: pointer;
}