.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2em;
}
.navbar-active-navlink {
  color: #c63b27;
  text-decoration: none;
}
.navbar-logo {
  width: 2em;
  height: auto;
  margin-right: 1rem;
}

.navbar-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-left: 1rem; */
  /* text-decoration: none; */
  color: inherit;
}
.navbar-right a {
  margin-left: 1rem;
  text-decoration: none;
}


.navbar-right a:hover {
  text-decoration: none;
  color: #c63b27;
}
