.team-member {
    margin-bottom: 30px;
    font-size: 10px;
}

.team-member .member-thumb {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.team-member .member-thumb img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.team-member .member-thumb .team-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: #ec523f;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.team-member .member-thumb .calendar-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: #ec523f;
    color: white;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.team-member .member-thumb .team-overlay h3 {
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-top: 64px;
}

.team-member .member-thumb .team-overlay span {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10px;
    display: block;
}

.team-member .member-thumb:hover .team-overlay {
    opacity: 1;
    visibility: visible;
}